<!DOCTYPE html>
<html>
  <head>
    <title>Cat Fact</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Cat Fact:</h1>
    <p><%= catFact %></p>
    <a href="/cats/fact">Get another cat fact!</a>
  </body>
</html>
